:root {
  --textcol: #33ff4e;
  --bgcol: #213123;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: var(--bgcol);
  color: var(--textcol);
  font-family: "Share Tech Mono", "Consolas", monospace;
  scrollbar-width: thin;
  font-size: 25px;
}

/*
From Opera GX
Colors: Text, Background

Hackerman: #33ff4e, #213123
Coming Soon: #fdf008, #004852
Vaporwave: #47ffe7, #3c153a
Lambda: #ff9900, #262c2a
*/

body * {
  font-family: "Share Tech Mono", "Consolas", monospace;
  outline: none;
  border: none;
  margin-left: 5px;
}

h1 {
  color: var(--text-col);
}

footer {
  position: absolute;
  margin-top: 3rem;
}

select#leet-type {
  font-size: 0.8rem;
  background: transparent;
  color: var(--textcol);
  border: 2px solid var(--textcol);
  border-radius: 5px;
  line-height: 1.3;
  padding: 0.6rem 1.4rem 0.5rem 0.8rem;
  width: 80%;
  max-width: 100%;
}

option {
  font-size: 0.95rem;
  background: var(--bgcol);
  color: var(--textcol);
  border: none;
  border-radius: 5px;
  padding: 0.6rem 1.4rem 0.5rem 0.8rem;
  width: 70%;
  max-width: 100%;
}

textarea {
  display: block;
  font-size: 0.9rem;
  background: transparent;
  color: var(--textcol);
  border: 2px solid var(--textcol);
  border-radius: 5px;
  line-height: 1.3;
  padding: 0.6rem 1.4rem 0.5rem 0.8rem;
  width: 70%;
  max-width: 100%;
  height: 5rem;
  max-height: 100%;
  font-family: "Consolas", monospace;
}

.theme-selector {
  display: block;
  position: absolute;
  top: 5%;
  right: 2%;
  text-align: right;
  font-size: 1.15rem;
}

::-webkit-scrollbar {
  width: 6px;
}

::-moz-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-moz-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--textcol);
  border-radius: 6px;
  border: 2px solid var(--textcol);
}

::-moz-scrollbar-thumb {
  background-color: var(--textcol);
  border-radius: 6px;
  border: 2px solid var(--textcol);
}

::-webkit-resizer,
::-webkit-scrollbar-corner {
  display: none;
}

::-moz-resizer,
::-moz-scrollbar-corner {
  display: none;
}

.theme-selector div {
  margin-top: 0.7rem;
  font-size: 0.7rem;
}

#click-to-change {
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid var(--textcol);
  padding: 0.12rem;
  font-size: 0.9rem;
}

#footer-text {
  font-size: 0.8rem;
}

.user-inputs {
  opacity: 0;
  animation: fade-in 1s 12s;
  animation-fill-mode: forwards;
}

.copy-textbox {
  position: absolute;
  left: -100%;
  opacity: 0;
}

pre {
  overflow: scroll scroll;
  border-radius: 5px;
  line-height: 1.4;
  padding: 1rem 0.8rem 0.5rem 0.8rem;
  width: 70%;
  height: 250px;
  max-width: 100%;
  max-height: 100%;
  word-wrap: break-word;
  box-shadow: 0px 0px 0px 0px;
  transition: box-shadow 0.6s linear;
  margin: 0.5rem;
  outline: solid 10px transparent;
}

pre:hover {
  box-shadow: 0px 0px 0px 2px;
}

#copy-to-clipboard {
  color: var(--textcol);
  background-color: transparent;
  padding: 0.6rem 1.4rem 0.5rem 0.8rem;
  border-radius: 5px;
  border: 2px solid var(--textcol);
  transition: color background-color 1s linear;
}

#copy-to-clipboard:hover {
  color: black;
  background-color: var(--textcol);
}

a,
a:hover,
a:focus,
a:visited {
  color: var(--textcol);
}
